body {
  background: url('images/whitel.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white; /* change the text color to white for better contrast against the dark background */
}
.div {
  background: linear-gradient(to right, #FF6347, #FF4500); /* Gradient from Tomato to OrangeRed color */
  border-radius: 10px;
  border: 1px solid transparent;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
}
